/* Master Styles */

h1 {
  font-size: 1.2em;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /*
  background-color: #444444;
  */
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia,sans-serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}



.havcTable {
    border-collapse: collapse;
}
.havcTable thead {
    background-color: #EEEEEE;
}
.havcTable td {
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
    padding:0px 5px;
}

.havcTable tbody tr:hover{
    color: #607D8B;
    background-color: #DDD;
}

.havcTable-right{
  text-align: right;
}
